# Banco de Dados
DB_NAME=db_ambulatorio
DB_USER=root
DB_PASS=sua_senha_aqui
DB_HOST=mysql-db
DB_PORT=3306

# Segurança (Gere um hash aleatório longo para produção)
JWT_SECRET=coloque_uma_chave_segura_aqui

# Servidor
PORT=3000