<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ambulatório | Nexa Logos</title>

<script src="https://cdn.tailwindcss.com"></script>

<script src="https://unpkg.com/lucide@latest"></script>

<link rel="stylesheet" href="/styles/global.css">

<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    azulEscuro: '#004A8F',
                    vermelhoAlerta: '#D32F2F',
                    cinzaFundo: '#F4F7F6',
                    cinzaTexto: '#334155'
                },
                fontFamily: {
                    sans: ['Inter', 'sans-serif'],
                }
            }
        }
    }
</script>